.img-fluid{    
    width: 50%;
    
}
.img{
    display: block;
}

.row{
    padding-top: 5%;
}
.tarjeta{
    padding-bottom: 5%;
}
.rango{
    padding-bottom: 5%;

}
.boton{
    margin: 2%;
}
.recarga h1{
    margin-left: 2%;
}
