<div class="container">
    <!-- <div class="imagen">
      <center> <img src="style/Imagenes/gear.png" width="100%" height="auto" /> </center>
      
    </div> -->

    <div class="list-services">
      <ul>
        <li><i class="fa-solid fa-check"></i> Metro</li>
        <li><i class="fa-solid fa-check"></i> Micros</li>
        <li><i class="fa-solid fa-check"></i> Taxis</li>
        <li><i class="fa-solid fa-check"></i> Colectivos</li>
      </ul>
    </div>
  </div>
  <p>
    Te dejamos la red social del metro y un mapa con informacio del trafico en
    tiempo real.
  </p>
  <div class="row">
    <div class="colum">
      <a
        class="twitter-timeline"
        data-lang="es"
        data-width="650"
        data-height="750"
        data-theme="dark"
        href="https://twitter.com/EFEValparaiso?ref_src=twsrc%5Etfw"
        >Tweets by EFEValparaiso</a
      >
      
    </div>
    <div class="colum">
      <iframe
        src="https://embed.waze.com/iframe?zoom=15&lat=-33.019711&lon=-71.550388&ct=livemap"
        width="750"
        height="650"
        allowfullscreen
      ></iframe>
    </div>
  </div>
